.niewsbrief-section h2 {

    font-size: 54px;
}

.form-nieuwsbrief-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-nieuwsbrief-container input {

    background-color: var(--lYellow);
    padding: 20px 30px;
    border: none;
    margin: 10px 0px;
    border-radius: 10px;

}