.gameshow-naam {

    font-size: 70px;
    color: var(--purple)
}

.gameshow-container h1 {
    font-size: 45px;
}

#gameshow-img-profile {

    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 50px;


}